.BuilderSection{
    display: flex;
    width: 100%;

    .productMenu{
        width: 60%;
        /*
       .productwrapper{
        padding: 50px;
       }
       */
       :nth-child(1){
        padding: 20px;
       }
    }

    .selectedMenu{
        display: flex;
        flex-direction: column;
        width: 40%;
    }
}