@media screen and (min-width: 1040px){
    body{
        background-color: wheat;
    }
    
}


main{
    display: flex;
    flex-direction: column;
    
}

.home{
    
}

.popularListSection{
    display: block;
    max-width: 1040px;
    .popularPorductContainer{
        display: flex;
        flex-direction: row;
        max-height: calc(100vh - 136px);
    }
}