.FooterContainer{
    display: flex;
    justify-content: center;
    .FooterSection{
        display: flex;
        flex-direction: row;
        gap: 30px;

        .FooterListContainer{
            list-style: none;
            padding: 0px;
            li{
                margin-top: 8px;
            }
        }
        .FooterListContainer.SOCIAL{
            margin-top: 0px;
        }

        //Social media section needs less space between logo and header
        >:nth-child(4){
            >:nth-child(3){
                margin-bottom: 1px;
            }
        }
    }
}





.SOCIAL{
    display: flex;
    gap: 8px;
}