/*
.productSectionContainer{
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
*/

.productSectionContainer{
    display: flex;
    flex-direction: column;
   
    :nth-child(1){
        div{
            
            display: float;
        }
    }

    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}


