.productModalContainer{
    img{
        width: 100%;
        //object-fit: cover;
        //aspect-ratio: 1/1;
        display: block;
    }

    .imgClicked{
        border-radius: 9999px;
        // border: 2px solid rgb(255, 200, 0);
        //box-shadow: 0 0 10px 5px rgba(255, 200, 0);
        outline: 10px solid rgb(255, 200, 0);
    }

    .imgNotClicked{
        border-style: none;
    }


    .productWrapper{
        position: relative;

        .counterWrapper{
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 55px;
            background-color: rgb(255, 200, 0);
            position: absolute;
            top:-5px;
            right: 5px;
            z-index: 200;
            text-align: center;
           
            span{
                vertical-align: middle;
                margin-top: 0;
                font-weight: bold;
            }
        }

        .counterWrapperDoesNotExist{
            display:none;
        }

        img{
           
        }
    }


    :nth-child(2){

        text-align: center;
        :nth-child(1){
            margin-bottom: 0;
        }
        :nth-child(2){
            margin:0;
        }
    }
}