.productModalContainer{
    img{
        width: 100%;
        //object-fit: cover;
        //aspect-ratio: 1/1;
        display: block;
    }

    .imgClicked{
        border-radius: 9999px;
        border: 2px solid yellow;
    }

    .imgNotClicked{
        border-style: none;
    }

    :nth-child(2){

        text-align: center;
        :nth-child(1){
            margin-bottom: 0;
        }
        :nth-child(2){
            margin:0;
        }
    }
}