.sliderSection{
    display: flex;
    
    align-items: center;
    /*justify-content: center;*/
    
    width: 100%;
    max-width: 120rem;
    max-height: calc(100vh - 96px); //rowContainer exceed 

    /*
    attempt on carousel
    white-space: nowrap;
    transition: transform 0.3s;
    */
    .rowContainer{
        display: flex;
        /*
        align-items: center;
        justify-content: center;
        */
        width: 100%;
        flex-wrap: nowrap;
        max-height: calc(100vh - 96px);
        height: 810px;


        //attempt on carousel
        // display: inline-flex;
        
       

        .contentContainer{
            flex-shrink: 1;
            display: flex;
            max-width: 630px;
            flex-direction: column;
            order: 1;
            width: 50%;
            padding: 50px;
            justify-content: center;
            align-items: center;

            div{
                display: block;
            }

            h1{
                font-size: 3.375rem;
                margin-top: 0px;
                margin-bottom: 0px;
            }

            p{
                font-size: clamp(1.625rem,calc(1.625rem + (1.625 - 1.625) * ((100vw - 40rem) / (80 - 40))),1.625rem);
                display: block;
            }

            >div{

                position: relative;
                left: -40%;
                .buttonContainer{
                    display: flex;
                    gap: 20px;
                    >button{
                        width: 40px;
                        height: 40px;
                        background: none;
                        border:none;
                        cursor: pointer;
                    }
                }
            }
            
        }


        .imgContainer{
            display: block;
            flex-grow: 1;
            width: 50%;
            height: 100%;
            order: 2;
            aspect-ratio: 1/1;
            object-fit: cover;

            img{
                max-width: 100%;
                display: block;
                aspect-ratio: 1/1;
                width: 100%;
                height: 100%;
                vertical-align: middle;
                object-fit: cover;
              
            }
        }
    }
}